.wrapper
  .left
    #nav-content 
      - if user_signed_in?
        = link_to area_point_messages_path(current_user.area_id, current_user.homepoint_id) do
          = image_tag asset_path('logo.png'),class: "no1"
      -else
        =link_to root_path do
          = image_tag asset_path('logo.png'),class: "no1"
      %ul.nav-name
        %li.level0
          = link_to root_path do
            = icon('fas', 'map-marker-alt')
            #none ポイント
          %ul.level1
            - @prefectures.each do |pref|
              %li.level2
                = pref.name
                %ul.level3
                  - @areas.each do |area|
                    -if pref.id == area.prefecture_id
                      %li.level4
                        = link_to new_area_point_path(area.id) do
                          = area.name
                        %ul.level5
                          - @points.each do |point|
                            -if area.id== point.area_id
                              %li.level6
                                = link_to area_point_messages_path(area.id, point.id) do
                                  = point.name
        - if user_signed_in?
          %li.level0
            = link_to area_point_messages_path(current_user.area_id, current_user.homepoint_id) do
              = icon('fas', 'home')
              #none HOME
          %li.level0
            = link_to new_wafe_path do
              = icon('fab', 'osi')
              #none 波予測
          %li.searchBlock#slide
            = icon('fas', 'search', class: "topSearch")
            %br/
            #none.topSearch.topfont TOP検索
          %li.level0
            = link_to destroy_user_session_path, method: :delete do
              = icon('far', 'user')
              #none ログアウト
        - else
          %li.level0
            = link_to new_user_path do
              = icon('far', 'user')
              #none ログイン
  .main
    .main__top
      = image_tag asset_path('logo.png'),class: "no1"
    .main__message
      =@point.name
      .main__message__area
        - @messages.each do |messages|
          .main__message__area__box
            .main__message__area__box__top
              .main__message__area__box__top__left
                - if messages.image.present?
                  = image_tag messages.user.image
                  -# %img{src: "#{messages.user.image}"}
                - else
                  = image_tag asset_path('mini-logo2.png'),class: "no1"
              .main__message__area__box__top__right
                .main__message__area__box__top__right__top
                  .main__message__area__box__top__right__top__name
                    = messages.user.name
                    .main__message__area__box__top__right__top__name__style
                      -if @point.area_id == messages.user.area_id
                        %p#local @ローカル
                      -else
                        %p#visit ビジター
                  .main__message__area__box__top__right__top__time
                    -if @time.day == messages.created_at.day
                      = messages.created_at.strftime("%H:%M")
                    -elsif @time.day - messages.created_at.day == 1
                      %p 昨日
                    -else @time.day - messages.created_at.day >= 2
                      = messages.created_at.strftime("%m/%d")
                .main__message__area__box__top__right__bottom
                  = messages.message
            .main__message__area__box__bottom
              - if messages.image.present?
                = image_tag messages.image, id: "imagesize"
                -# %img#imagesize{src: "#{messages.image}"}
    - if user_signed_in?
      .right__icon
        = link_to new_area_point_message_path(@area,@point), class: "btn" do
          .main__icon_btn
            = image_tag asset_path('mini-logo2.png')
  =render "shared/right"