.left
  %input#nav-input.nav-unshown{:type => "checkbox"}/
  %label#nav-open{:for => "nav-input"}
    %span
  %label#nav-close.nav-unshown{:for => "nav-input"}

  #nav-content 
    =link_to root_path do
      %img.no1{src: "/assets/logo.png"}
    %ul.nav-name
      %li.level0
        = link_to root_path do
          = icon('fas', 'map-marker-alt')
          #none ポイント一覧
        %ul.level1
          %li.level2
            北海道
            %ul.level3
              %li.level4
                道南エリア
                %ul.level5
                  %li.level6
                    鹿部
                  %li.level6
                    女那川
                  %li.level6
                    戸井
                  %li.level6
                    住吉
              %li.level4
                道央エリア
                %ul.level5
                  %li.level6
                    浜厚真
                  %li.level6
                    白老
                  %li.level6
                    イタンキ浜
                  %li.level6
                    古平
                  %li.level6
                    フゴッペ
                  %li.level6
                    塩谷
                  %li.level6
                    銭函
                  %li.level6
                    東小樽
          %li.level2
            青森
            %ul.level3
              %li.level4
                十和田/三沢エリア
                %ul.level5
                  %li.level6
                    高瀬川
                  %li.level6
                    三沢漁港
              %li.level4
                八戸エリア
                %ul.level5
                  %li.level6
                    大須賀
                  %li.level6
                    種差
                  %li.level6
                    大久喜
                  %li.level6
                    金浜
          %li.level2
            岩手
            %ul.level3
              %li.level4
                県北エリア
                %ul.level5
                  %li.level6
                    角の浜
                  %li.level6
                    川尻
                  %li.level6
                    大浜
                  %li.level6
                    有家
                  %li.level6
                    十府ヶ浦
                  %li.level6
                    安家川
              %li.level4
                沿岸エリア
                %ul.level5
                  %li.level6
                    重茂
                  %li.level6
                    浪板
                  %li.level6
                    吉浜
                  %li.level6
                    千丸
                  %li.level6
                    門之浜
                  %li.level6
                    米崎
                  %li.level6
                    高田河口
          %li.level2
            秋田
            %ul.level3
              %li.level4
                秋田/由利エリア
                %ul.level5
                  %li.level6
                    宮崎海岸
                  %li.level6
                    船越
                  %li.level6
                    出戸浜
                  %li.level6
                    二古
                  %li.level6
                    本荘浜
                  %li.level6
                    西目
                  %li.level6
                    三森
                  %li.level6
                    小砂川
          %li.level2
            宮城
            %ul.level3
              %li.level4
                三陸エリア
                %ul.level5
                  %li.level6
                    小泉海水浴場
                    %br
                      河口
                  %li.level6
                    小泉海水浴場
                    %br
                      パレス前第2
                  %li.level6
                    小泉海水浴場 
                    %br
                      パレス前第1
                  %li.level6
                    本吉
                    %br
                      ウニ浜
                  %li.level6
                    本吉
                    %br
                      石浜
                  %li.level6
                    本吉 崖前
                  %li.level6
                    長浜海水浴場
                  %li.level6
                    大曲海岸
                  %li.level6
                    浜市海岸
                  %li.level6
                    野蒜
              %li.level4
                仙台エリア
                %ul.level5
                  %li.level6
                    菖蒲田浜
                  %li.level6
                    仙台新港
                  %li.level6
                    蒲生
                  %li.level6
                    深沼
                  %li.level6
                    閖上
                  %li.level6
                    荒浜
          %li.level2
            山形
            %ul.level3
              %li.level4
                庄内エリア
                %ul.level5
                  %li.level6
                    湯野浜
          %li.level2
            新潟
            %ul.level3
              %li.level4
                下越エリア
                %ul.level5
                  %li.level6
                    東港
                  %li.level6
                    島見
              %li.level4
                新潟周辺エリア
                %ul.level5
                  %li.level6
                    小針
                  %li.level6
                    新川
                  %li.level6
                    港漁港
                  %li.level6
                    新川
                  %li.level6
                    五ヶ浜
                  %li.level6
                    白岩
                  %li.level6
                    間瀬
                  %li.level6
                    牛ちゃん
                  %li.level6
                    寺泊
              %li.level4
                中越エリア
                %ul.level5
                  %li.level6
                    高浜
                  %li.level6
                    大湊
                  %li.level6
                    荒浜
                  %li.level6
                    松波
                  %li.level6
                    米山
              %li.level4
                上越エリア
                %ul.level5
                  %li.level6
                    郷津
                  %li.level6
                    谷浜
                  %li.level6
                    名立
                  %li.level6
                    百川
          %li.level2
            石川
            %ul.level3
              %li.level4
                能登エリア
                %ul.level5
                  %li.level6
                    門前
                  %li.level6
                    鹿頭
                  %li.level6
                    柴垣
                  %li.level6
                    滝
              %li.level4
                加賀エリア
                %ul.level5
                  %li.level6
                    大浜
                  %li.level6
                    金石
                  %li.level6
                    専光寺
                  %li.level6
                    美川
                  %li.level6
                    片野
                  %li.level6
                    塩谷
          %li.level2
            福島
            %ul.level3
              %li.level4
                相双エリア
                %ul.level5
                  %li.level6
                    ラハイナ
                  %li.level6
                    カゲスカ
                  %li.level6
                    ブタ下
                  %li.level6
                    右田浜
                  %li.level6
                    鳥
                  %li.level6
                    坂下
                  %li.level6
                    北泉
                  %li.level6
                    チキン下
                  %li.level6
                    請戸
              %li.level4
                いわきエリア
                %ul.level5
                  %li.level6
                    岩沢
                  %li.level6
                    四倉
                  %li.level6
                    二見が浦
                  %li.level6
                    ウエストコースト
                  %li.level6
                    勿来
          %li.level2
            茨城
            %ul.level3
              %li.level4
                県北エリア
                %ul.level5
                  %li.level6
                    二つ島
                  %li.level6
                    川尻
                  %li.level6
                    日立駅下
                  %li.level6
                    河原子
                  %li.level6
                    日立灯台下
              %li.level4
                県央エリア
                %ul.level5
                  %li.level6
                    阿字ケ浦
                  %li.level6
                    大洗
                  %li.level6
                    大貫
              %li.level4
                鹿行エリア
                %ul.level5
                  %li.level6
                    京知釜
                  %li.level6
                    とっぷさんて
                  %li.level6
                    波崎
          %li.level2
            千葉
            %ul.level3
              %li.level4
                千葉北エリア
                %ul.level5
                  %li.level6
                    飯岡
                  %li.level6
                    吉崎
                  %li.level6
                    作田
                  %li.level6
                    片貝漁港
                  %li.level6
                    片貝新堤
                  %li.level6
                    豊海
                  %li.level6
                    白里
                  %li.level6
                    白子
                  %li.level6
                    一松
                  %li.level6
                    一宮
                  %li.level6
                    東浪見
                  %li.level6
                    志田下
                  %li.level6
                    夷隅
                  %li.level6
                    大原
                  %li.level6
                    岩和田
                  %li.level6
                    御宿
                  %li.level6
                    サンドラ
                  %li.level6
                    部原
              %li.level4
                千葉南エリア
                %ul.level5
                  %li.level6
                    マルキ
                  %li.level6
                    グランド下
                  %li.level6
                    待崎川河口
                  %li.level6
                    シーサイド
                  %li.level6
                    京王マンション下
                  %li.level6
                    墓下
                  %li.level6
                    J's前
                  %li.level6
                    白渚
                  %li.level6
                    花かご
                  %li.level6
                    千歳
                  %li.level6
                    千倉
                  %li.level6
                    平砂浦
                  %li.level6
                    下洲
                  %li.level6
                    川名
                  %li.level6
                    篠部
          %li.level2
            神奈川
            %ul.level3
              %li.level4
                湘南エリア
                %ul.level5
                  %li.level6
                    由比ヶ浜
                  %li.level6
                    稲村ヶ崎
                  %li.level6
                    七里ヶ浜
                  %li.level6
                    鎌高前
                  %li.level6
                    一本松
                  %li.level6
                    腰越漁港
                  %li.level6
                    水族館前
                  %li.level6
                    鵠沼
                    %br マクドナルド前
                  %li.level6
                    引地川河口
                  %li.level6
                    スエヒロ
                  %li.level6
                    辻堂正面
                  %li.level6
                    辻堂第二駐車場前
                  %li.level6
                    クソ下
                  %li.level6
                    チサン
                  %li.level6
                    チーパー
                  %li.level6
                    パーク
                  %li.level6
                    裏パーク
                  %li.level6
                    西浜
                  %li.level6
                    カボチャ
                  %li.level6
                    白樺
              %li.level4
                西湘エリア
                %ul.level5
                  %li.level6
                    生コン
                  %li.level6
                    虹ヶ浜
                  %li.level6
                    花水川河口
                  %li.level6
                    大磯
                  %li.level6
                    小田原
                  %li.level6
                    吉浜
          %li.level2
            静岡
            %ul.level3
              %li.level4
                伊豆エリア
                %ul.level5
                  %li.level6
                    宇佐美
                  %li.level6
                    熱川
                  %li.level6
                    今井浜
                  %li.level6
                    河津
                  %li.level6
                    プリンス前
                  %li.level6
                    白浜
                  %li.level6
                    多々戸浜
                  %li.level6
                    入田浜
                  %li.level6
                    大浜
              %li.level4
                新島エリア
                %ul.level5
                  %li.level6
                    淡井浦
                  %li.level6
                    羽伏磯
                  %li.level6
                    羽伏浦
                  %li.level6
                    ヘリ下
                  %li.level6
                    シークレット
                  %li.level6
                    間々下
                  %li.level6
                    B堤
              %li.level4
                大島エリア
                %ul.level5
                  %li.level6
                    小口岬
                  %li.level6
                    筆島
                  %li.level6
                    波浮港
                  %li.level6
                    砂の浜
                  %li.level6
                    ジュンカメ
                  %li.level6
                    地引浜
                  %li.level6
                    ケタリーフ
                  %li.level6
                    元町前
              %li.level4
                静波/御前崎エリア
                %ul.level5
                  %li.level6
                    静波
                  %li.level6
                    片浜
                  %li.level6
                    御前崎
                  %li.level6
                    清水
              %li.level4
                磐田/浜松エリア
                %ul.level5
                  %li.level6
                    掛川
                  %li.level6
                    豊浜
                  %li.level6
                    西浜
                  %li.level6
                    鮫島
                  %li.level6
                    中田島
                  %li.level6
                    篠原(ゴルフ場前)
                  %li.level6
                    ゲームセンター前
                  %li.level6
                    舞阪/灯台前
                  %li.level6
                    舞阪/メイン
                  %li.level6
                    新居
                  %li.level6
                    潮見坂(県境)
                  %li.level6
                    潮見坂(トイレ前)
                  %li.level6
                    潮見坂(GS前)
          %li.level2
            愛知
            %ul.level3
              %li.level4
                伊良湖エリア
                %ul.level5
                  %li.level6
                    ロングビーチ
                  %li.level6
                    ロコ
                  %li.level6
                    東日本
                  %li.level6
                    全日本
                  %li.level6
                    港
                  %li.level6
                    チキン
                  %li.level6
                    伊勢湾
                  %li.level6
                    百々
                  %li.level6
                    寺沢
                  %li.level6
                    寺沢/老人ホーム前
                  %li.level6
                    六連
                  %li.level6
                    伊古部
          %li.level2
            和歌山
            %ul.level3
              %li.level4
                磯ノ浦エリア
                %ul.level5
                  %li.level6
                    磯ノ浦
              %li.level4
                南紀エリア
                %ul.level5
                  %li.level6
                    田浜
                  %li.level6
                    那智勝浦
              %li.level4
                伊勢エリア
                %ul.level5
                  %li.level6
                    三角
                  %li.level6
                    ラスタ前
                  %li.level6
                    甲府の浜
                  %li.level6
                    壊れた水門前
                  %li.level6
                    松林
                  %li.level6
                    市後浜
                  %li.level6
                    ジャン
                  %li.level6
                    南張
          %li.level2
            福井
            %ul.level3
              %li.level4
                福井エリア
                %ul.level5
                  %li.level6
                    鳥居浜
                  %li.level6
                    難波江
                  %li.level6
                    高浜メイン
                  %li.level6
                    鷹巣五木
                  %li.level6
                    鷹巣新港
          %li.level2
            高知
            %ul.level3
              %li.level4
                高知エリア
                %ul.level5
                  %li.level6
                    生見
                  %li.level6
                    高知
                  %li.level6
                    高知/大方浮鞭
                  %li.level6
                    四万十
                  %li.level6
                    入野松原
                  %li.level6
                    田野浦
                  %li.level6
                    双海
                  %li.level6
                    平野
                  %li.level6
                    大枝の浜
          %li.level2
            徳島
            %ul.level3
              %li.level4
                徳島エリア
                %ul.level5
                  %li.level6
                    内妻
                  %li.level6
                    穴喰
          %li.level2
            島根
            %ul.level3
              %li.level4
                島根エリア
                %ul.level5
                  %li.level6
                    稲佐の浜
                  %li.level6
                    小田
                  %li.level6
                    波根
                  %li.level6
                    浅利
                  %li.level6
                    波子
                  %li.level6
                    石見海浜公園
                  %li.level6
                    千畳
                  %li.level6
                    津田
                  %li.level6
                    大塚
                  %li.level6
                    高津
          %li.level2
            鳥取
            %ul.level3
              %li.level4
                鳥取エリア
                %ul.level5
                  %li.level6
                    弓ヶ浜
                  %li.level6
                    大黒
                  %li.level6
                    ポート赤碕
                  %li.level6
                    ぼくら
                  %li.level6
                    羽合
                  %li.level6
                    石脇
                  %li.level6
                    井手ヶ浜
                  %li.level6
                    青谷
                  %li.level6
                    船磯
                  %li.level6
                    小沢見
                  %li.level6
                    白兎
                  %li.level6
                    賀露
                  %li.level6
                    岩戸
                  %li.level6
                    浦富
                  %li.level6
                    羽尾
                  %li.level6
                    東浜
          %li.level2
            宮崎
            %ul.level3
              %li.level4
                北部エリア
                %ul.level5
                  %li.level6
                    小倉ヶ浜
                  %li.level6
                    金ヶ浜
                  %li.level6
                    墓下
                  %li.level6
                    伊倉浜
              %li.level4
                南部エリア
                %ul.level5
                  %li.level6
                    一ツ瀬河口
                  %li.level6
                    動物園下
                  %li.level6
                    石崎浜
                  %li.level6
                    野球場裏
                  %li.level6
                    トムワトソン
                  %li.level6
                    一ツ葉
                  %li.level6
                    赤江
                  %li.level6
                    木崎浜
                  %li.level6
                    こどもの国
                  %li.level6
                    プリンス前
                  %li.level6
                    内海
                  %li.level6
                    伊比井
                  %li.level6
                    鵜戸下
                  %li.level6
                    子吹井
                  %li.level6
                    直線
                  %li.level6
                    先端
                  %li.level6
                    大浦
                  %li.level6
                    昭寿園
                  %li.level6
                    梅ヶ浜
                  %li.level6
                    大堂津
                  %li.level6
                    恋ヶ裏
          %li.level2
            鹿児島
            %ul.level3
              %li.level4
                鹿児島エリア
                %ul.level5
                  %li.level6
                    入野
                  %li.level6
                    鬼口
                  %li.level6
                    馬渡
                  %li.level6
                    江口浜
                  %li.level6
                    照島
                  %li.level6
                    折口
          %li.level2
            熊本
            %ul.level3
              %li.level4
                熊本エリア
                %ul.level5
                  %li.level6
                    高浜
                  %li.level6
                    都呂呂
                  %li.level6
                    火葬場下
          %li.level2
            佐賀
            %ul.level3
              %li.level4
                佐賀エリア
                %ul.level5
                  %li.level6
                    立神
                  %li.level6
                    北浜
                  %li.level6
                    東の浜
          %li.level2
            福岡
            %ul.level3
              %li.level4
                福岡エリア
                %ul.level5
                  %li.level6
                    芥屋
                  %li.level6
                    野北
                  %li.level6
                    大口
                  %li.level6
                    二見ヶ浦
                  %li.level6
                    奈多
                  %li.level6
                    三苫
                  %li.level6
                    新宮
                  %li.level6
                    釣川河口
                  %li.level6
                    さつき松原
                  %li.level6
                    鐘崎
                  %li.level6
                    インサイドボウル
                  %li.level6
                    波津漁港
                  %li.level6
                    汐入川
                  %li.level6
                    芦屋
                  %li.level6
                    洞山
                  %li.level6
                    夏井ヶ浜
                  %li.level6
                    サメ
                  %li.level6
                    岩屋
                  %li.level6
                    脇田
          %li.level2
            沖縄
            %ul.level3
              %li.level4
                沖縄エリア
                %ul.level5
                  %li.level6
                    安謝
                  %li.level6
                    ボウル
                  %li.level6
                    タートル
                  %li.level6
                    残波
                  %li.level6
                    真栄田
                  %li.level6
                    部間
                  %li.level6
                    コーチャン
                  %li.level6
                    安波
                  %li.level6
                    スーサイド
      - if user_signed_in?
        %li.level0
          = link_to root_path do
            = icon('fas', 'home')
            #none HOME
        %li.level0
          = link_to new_wafe_path do
            = icon('fab', 'osi')
            #none 波予測
        %li.level0
          = link_to do
            = icon('fas', 'search', class: "right__top__right__icon")
            #none TOP検索
        %li.level0
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.level0
          = link_to new_user_path do
            = icon('far', 'user')
            #none ログイン

      
