.user
  .user__logo
    = image_tag asset_path('logo.png')
  .user__field
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .user__field__box
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .user__field__box
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .user__field__box
        - if devise_mapping.rememberable?
          .user__field__box__remember
            = f.check_box :remember_me
            = f.label :remember_me
      .user__field__submit
        = f.submit "Log in"
