!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}/
    %script{src: "https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"}
    %script{src: "https://api.windy.com/assets/map-forecast/libBoot.js"}
    %title sEAMAN
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
  %body
    = yield
